<h1>Reimbursement Form</h1>
<form action="" method="post" id="reimbursementform">
    <div class="form-group">
        <label for="eventdate">Start Date: </label>
        <input type="date" name="eventdate" id="eventdate" class="form-control" data-provide="datepicker" required>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="eventtype">Event: </label>
            <select name="eventtype" id="eventtype" class="form-control" required>
                <option value="">Choose Event Type</option>
            </select>
        </div>
        <div class="form-group col-md-6">
            <label for="eventtype">Grading Format: </label>
            <select name="gradingformat" id="gradingformat" class="form-control" required>
                <option value="">Choose Grading Format</option>
            </select>
        </div>
    </div>
    <div class="form-group">
        <label for="location">Location: </label>
        <input type="text" name="location" id="location" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="description">Description: </label>
        <textarea name="description" id="description" class="form-control" required></textarea>
    </div>
    <div class="form-group">
        <label for="eventcost">Event Cost: </label>
        <input type="number" max="999999" min="1" name="eventcost" id="eventcost" class="form-control" required>
        <div id="eventcostHelpBlock" class="form-text">
            Projected Reimbursement: n/a
        </div>
    </div>
    <button id="submitform" type="submit" class="btn btn-warning btn-block">Submit Request</button>
</form>