<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container" style="width: 90%; max-width: 800px;">
        <a class="navbar-brand" href="#"></a>
        <!-- <a class="navbar-brand" href="#"><img src="img/rhodes_island.png" alt="Rhodes Island Pharmaceutical" height="50px"></a> -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-light" id="navbarSupportedContent">
            <ng-container *ngIf="emp; else unauthenticated">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active" id="navlinks">
                        <ng-container *ngIf="router.url == '/request'; else forms">
                            <button class="btn btn-outline-warning" id="managerbtn">Request Manager</button>
                        </ng-container>
                        <ng-template #forms>
                            <button class="btn btn-outline-warning" id="requestbtn">New Request</button>
                        </ng-template>
                    </li>
                </ul>
                Welcome,&nbsp;<span id="authUserName"></span>
                <button class="btn btn-outline-danger ml-3 my-2 my-sm-0" id="logout">Logout</button>
            </ng-container>
            <ng-template #unauthenticated>
                <ul class="navbar-nav mr-auto"></ul>
                <button class="btn btn-outline-warning my-2 my-sm-0" (click)="openModal(loginmodal)">Login</button>
            </ng-template>
        </div>
    </div>
</nav>

<ng-template #loginmodal>
    <!-- Login Modal -->
    <div class="modal-content">
        <div class="modal-header bg-warning text-dark">
            <h5 class="modal-title" id="loginModalLabel">Employee Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body bg-dark text-light">
            <form id="loginform">
                <div id="loginformerror"></div>
                <div class="form-group">
                    <label for="user">Username: </label>
                    <input type="text" name="user" id="user" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="pass">Password: </label>
                    <input type="password" name="pass" id="pass" class="form-control" required>
                </div>
                <button id="login" class="btn btn-outline-warning btn-block" type="button">Login</button>
            </form>
        </div>
    </div>
</ng-template>