<header class="container-fluid text-center"><img src="assets/img/rhodes_island.png" alt="Rhodes Island Pharmaceutical"
  height="200px"></header>
<app-navbar></app-navbar>

<div id="main-container" class="container bg-dark text-light">
  <router-outlet></router-outlet>
</div>

<footer class="jumbotron text-center bg-dark text-light" style="margin-bottom:0">
  Code and design by Jeff Delgado at Revature &copy;2020<br>
  &mdash;<br>
  Arknights and Rhodes Island created, developed, and published by <br>
  <img class="img-fluid" src="https://webusstatic.akamaized.net/ark_us_web/pc/img/logo.40a7521d.png" alt="">
</footer>