<h1>Rhodes Island Pharmaceutical Tuition Reimbursement Management System</h1>
<h6>May I enjoy my life and practice my art <br> Respected by all men and in all times <br> &mdash; </h6>
<p>Welcome to the Rhodes Island Pharmaceutical Tuition Reimbursement Management System!</p>
<p>We want to help you succeed and flourish in both work and life so we've established
    this system to quickly allow you to request and manage reimbursements for events you may
    want to participate in.
    As an employee, you can collect reimbursements of up to 100000 
    <img src="assets/img/lmd.png" title="Credits" alt="credits" class="credits"> 
    per year provided approval by your superiors and proof of benefits the event offers.
</p>
<p>Just log in with your system-given employee credentials to get started!</p>
